@charset "UTF-8";



/** YUI RESET
------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6,h7 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

.clear-fix {
	clear: both;
}

.mobileonly {
	display: none;
}
 


/** PAGE STYLES
------------------------------*/


body {
	background-color:#ffffff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	}
	
.section {
	width: 100%;
}


.section-innerx {
	width: 960px;
	margin: 0 auto 0 auto;
}



h1 {
	font-size: 36px;
	margin: 0 0 6px 0px;
	text-align: center;
	padding-top: 32px;
	color: #2045a5;
}


h2 {
	font-size: 22px;
	margin: 0 0 6px 0;
	color:#2045a5;
}


h3 {
	font-size: 20px;
	margin: 0 0 5px 0;
	color: #2045a5;
}

h4 {
	font-size: 19px;
	color: #2045a5;
	margin: 0 0 0 0px;
}


h5 {
	font-size: 13px;
}

.scroll-top {
	padding-top: 71px;
}

a, a:link, a:visited, a:active {
	color:#000000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.trade {
	font-size: 9px;
	font-weight: normal;
	vertical-align: top;	
}


/** NAVIGATION
------------------------------*/


#menuicon, #mobilemenu {
	display: none;
}

#navigation {
	background-image:url(../images/nav-bg.png);
	background-position:top center;
	background-repeat:no-repeat;
	height: 85px;
	position: fixed;
	top:0;
	left:0;
	z-index:8000;
}

#navigation ul li {
	display:inline;
	float: left;
}

.menu-item a {
	height: 71px;
	line-height: 71px;
	background-image:url(../images/navigation.png);
	text-indent: -9999px;
	display:block;
}
	
.menu-home a {
	width: 160px;
}
	
.menu-how a {
	width: 133px;
	background-position: -160px 0px;
}
	
.menu-how a.link-active {
	background-position: -160px -142px !important;
}

.menu-how a:hover {
	background-position: -160px -71px !important;
}
		
.menu-features a {
	width: 133px;
	background-position: -293px 0px;
}

.menu-features a.link-active {
	background-position: -293px -142px !important;
}

.menu-features a:hover {
	background-position: -293px -71px !important;
}

.menu-programs a {
	width: 133px;
	background-position: -426px 0px;
}

.menu-programs a.link-active {
	background-position: -426px -142px !important;
}

.menu-programs a:hover {
	background-position: -426px -71px !important;
}
		
.menu-why a {
	width: 133px;
	background-position: -559px 0px;
}

.menu-why a.link-active {
	background-position: -559px -142px !important;
}

.menu-why a:hover {
	background-position: -559px -71px !important;
}
			
.menu-support a {
	width: 133px;
	background-position: -692px 0px;
}

.menu-support a.link-active {
	background-position: -692px -142px !important;
}

.menu-support a:hover {
	background-position: -692px -71px !important;
}	
	
.menu-store a {
	width: 135px;
	background-position: -825px 0px;
}

.menu-store a:hover {
	background-position: -825px -71px;
}




/** HERO
------------------------------*/

#hero {
	background-image:url(../images/bg-hero.png);
	background-position: center bottom;
	background-repeat:repeat-x;
	height: 492px;
	padding-top: 71px;
}


.bar-image {
	background-image:url(../images/bg-hero-1.10.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 492px;
}


#hero h4 {
	text-align:center;
	color: #737577;
}

.bar-image h1  {
	padding-right: 500px;
	padding-top: 140px;
}

.bar-image h4  {
	padding-right: 500px;
}

.herobuttons {
	width: 460px; 
	height: 200px;
}

.herobuttons .centerbuttons {
	margin-left: auto;
	margin-right: auto;
	width: 243px;
	height: 69px;
}


.watch-button {
	float: left;
	width: 104px;
	height: 69px;
}

.watch-button a, .watch-button a:visited {
	background-image:url(../images/button-watch-01.png);
	text-indent: -9999px;
	display: block;
	height: 69px;
	margin-top: 7px;
}

.watch-button a:hover {
	background-position: 0 -69px;
	margin-top: 7px;
}

.buy-button {
	float: left;
	width: 119px;
	height: 69px;
	margin-left: 20px;
}

.buy-button a, .buy-button a:visited {
	background-image:url(../images/button-buy.png);
	text-indent: -9999px;
	display: block;
	height: 69px;
	margin-top: 7px;
}

.buy-button a:hover {
	background-position: 0 -69px;
	margin-top: 7px;
}



/** KEY FEATURES
------------------------------*/

#key-features {
	background-image: url(../images/bg-checkboxes.png);
	background-repeat: repeat-x;
	height: 71px;
}

.bicepscurldude {
	background-image:url(../images/bicepscurldude.png);
	background-position: left top;
	background-repeat:no-repeat;
	width: 106px;
	height: 71px;
	float: left;
}

#key-features .module {
	width: 194px;
	float: left;
	height: 71px;
	overflow: hidden;
}
#key-features .module-inner {
	padding-left: 50px;
	padding-top: 16px;
}

#key-features .module h2 {
	font-size: 18px;
	margin: 0 0 3px 0;
}

#key-features .module p {
	font-size: 11px;
}

.tickbox {
	background-image:url(../images/tickbox.png);
	background-position: left 16px;
	background-repeat:no-repeat;
}


/** FEATURE PANELS
------------------------------*/

.featurepanel {
	height: 412px;
	width: auto;
	background-image: url(../images/bg-featurepanel.png);
	background-repeat: repeat-x;
}

.featurepanelshadow {
	background-image: url(../images/bg-featurepanelshadow.png);
	background-repeat: no-repeat;
	background-position-x: middle;
	background-position-y: top;
	height: 412px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.featurepanelimage {
	float: left;
	width: 417px;
	height: 412px;
}

#featuretodos {
	background-image: url(../images/featurepanel-todolist.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#featurevisualweightselectors {
	background-image: url(../images/featurepanel-visualweightselectors.png);
	background-repeat: no-repeat;
	background-position: top right;
}

#featureresttimers {
	background-image: url(../images/featurepanel-resttimers.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

#featureexercisemanual {
	background-image: url(../images/featurepanel-exercisemanual.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	width: 461px;
}

#featuremeasurements {
	background-image: url(../images/featurepanel-measurements.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	width: 461px;
}

#featurehistory {
	background-image: url(../images/featurepanel-charts.png);
	background-repeat: no-repeat;
	background-position: center left;
	width: 491px;
	height: 314px;
	margin-top: 89px;
}

#featureshare {
	background-image: url(../images/featurepanel-share.png);
	background-repeat: no-repeat;
	background-position: center left;
	width: 450px;
}

.featurepaneltext {
	height: 412px;
	width: 543px;
	float: left;
}

#featuretextexercisemanual {
	width: 459px;
	padding-right: 40px;
}

#featuretextmeasurements {
	width: 459px;
	padding-right: 40px;
}

#featuretexthistory {
	width: 459px;
	margin-right: 10px;
}

#featuretexthistory h2 {
	padding-top: 90px;
}

#featuretextshare {
	width: 449px;
	margin-left: 40px;
}

#textpanelweights {
	width: 449px;
	margin-left: 40px;
}

#textpanelweights h2 {
	padding-top: 80px;
}

.featurepaneltext h2 {
	margin-bottom: 3px;
	padding-top: 110px;
	font-size: 25px;
}

#featuretextshare h2 {
	padding-top: 90px;
}

.featurepaneltext h3 {
	margin-bottom: 15px;
	font-size: 20px;
	color: #8a8d99;
}

.featurepaneltext p {
	line-height: 25px;
	font-size: 18px;
}

.featurepanellink {
	margin-top: 10px;
}

.featurepaneltext a {
	background-image: url(../images/link-arrow.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding: 0px 20px 0px 0px;
	color: #2045a5;
}

.featurepanelimagemobile {
	display: none;
}

.shareicons {
	float: left;
	width: 67px;
	height: 28px;
	background-image: url(../images/share-icons.png);
	background-repeat: no-repeat;
}

/** AT A GLANCE
------------------------------*/

.ataglancepaneltop {
	height: 340px;
	width: auto;
	background-image: url(../images/bg-featurepanel.png);
	background-repeat: repeat-x;
}

.ataglancepanelwhite {
	height: 225px;
	width: auto;
	background-color: #ffffff;
	clear: left;
}

.ataglancepanelgrey {
	background-color: #f8f8f8;
}

.ataglancepanelshadow {
	height: 288px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.ataglancepanelnoshadow {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.ataglancepanelshadow {
	background-image: url(../images/bg-featurepanelshadow.png);
	background-repeat: no-repeat;
	background-position-x: middle;
	background-position-y: top;
}

.ataglancepanelwhite h2, .ataglancepanelgrey h2, .ataglancepaneltop h2 {
	font-size: 17px;
	color: #999999;
	padding-top: 35px;
}

.ataglancepanelwhite h3, .ataglancepanelgrey h3, .ataglancepaneltop h3 {
	font-size: 26px;
	padding-top: 15px;
	padding-bottom: 20px;
}

.ataglancepanelwhite h4, .ataglancepanelgrey h4, .ataglancepaneltop h4 {
	font-size: 13px;
}

.ataglancepanelwhite p, .ataglancepanelgrey p, .ataglancepaneltop p {
	font-size: 12.5px;
	color: #666666;
	padding-bottom: 20px;
}

.featurecolumn {
	width: 290px;
	float: left;
	padding-right: 30px;
}

.featureitem {
	padding-left: 57px;
}

#itemtodos {
	background-image:url(../images/icon-item-todos.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemtimers {
	background-image:url(../images/icon-item-timers.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemalarms {
	background-image:url(../images/icon-item-restalarm.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemprogress {
	background-image:url(../images/icon-item-progress.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemsettings {
	background-image:url(../images/icon-item-settings.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemcardio {
	background-image:url(../images/icon-item-cardio.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemthumbnails {
	background-image:url(../images/icon-item-thumbnails.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemsupersets {
	background-image:url(../images/icon-item-supersets.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemtarget {
	background-image:url(../images/icon-item-target.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemamend {
	background-image:url(../images/icon-item-amend.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itempyramid {
	background-image:url(../images/icon-item-pyramid.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemplaylist {
	background-image:url(../images/icon-item-playlist.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemshare {
	background-image:url(../images/icon-item-share.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemshareworkout {
	background-image:url(../images/icon-item-share.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemsearch {
	background-image:url(../images/icon-item-search.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemillustration {
	background-image:url(../images/icon-item-illustration.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemdiagram {
	background-image:url(../images/icon-item-diagram.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itembrowse {
	background-image:url(../images/icon-item-browse.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemcreate {
	background-image:url(../images/icon-item-create.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemchart {
	background-image:url(../images/icon-item-chart.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemcsv {
	background-image:url(../images/icon-item-csv.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemonerepmax {
	background-image:url(../images/icon-item-onerepmax.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itemmeasurement {
	background-image:url(../images/icon-item-measurement.png);
	background-position: left top;
	background-repeat:no-repeat;
}

#itembmi {
	background-image:url(../images/icon-item-bmi.png);
	background-position: left top;
	background-repeat:no-repeat;
}

.grahamclearleft {
	clear: left;
	height: 1px;
	width: 1px;
}


/** WORKOUT PROGRAMS
------------------------------*/

.workoutprogrampanel {
	height: 288px;
	width: auto;
	background-image: url(../images/bg-featurepanel.png);
	background-repeat: repeat-x;
}


.workoutprogrampanel h2 {
	padding-top: 40px;
	margin-bottom: 10px;
}

.workoutprogramcolumn {
	color: #333333;
	width: 445px;
	float: left;
	padding-right: 20px;
	line-height: 21px;
}

.programpanelgroup {
	padding-top: 20px;
	clear: left;
}

.programpanel {
	display: block;
	width: 158px;
	height: 251px;
	background-image: url(../images/bg-programpanel.png);
	background-position: top left;
	background-repeat: no-repeat;
	float: left;
	padding: 12px;
	margin-right: 12px;
	cursor: pointer;
}

.programpanel:hover {
	text-decoration: none;
	background-image: url(../images/bg-programpanel-hover.png);
}

#programpanelapproaches {
	margin-right: 0px;
}

.programpanel p {
	font-size: 13px;
	color: #333333;
	line-height: 17px;
}

.programpanel h3 {
	font-size: 14px;
}

.programimage {
	width: 158px;
	height: 99px;
	margin-bottom: 10px;
}

#programimagebeginners {
	background-image: url(../images/programimage-beginner.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#programimagesplits {
	background-image: url(../images/programimage-splits.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#programimagegoals {
	background-image: url(../images/programimage-goals.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#programimagebodyareas {
	background-image: url(../images/programimage-bodyareas.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#programimageapproaches {
	background-image: url(../images/programimage-approaches.png);
	background-position: top left;
	background-repeat: no-repeat;
}

p.programpanellink {
	color: #2045a5;
	margin-top: 10px;
	width: auto;
	padding-left: 12px;
	background-image: url(../images/link-arrow-down.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#programpanellinkbeginners {
	display: none;
}

.programdraw {
	width: auto;
	height: 346px;
	background-image: url(../images/bg-programdraw.png);
	background-repeat: repeat-x;
	margin-bottom: 20px;
	margin-top: 5px;
}

.programdrawinner {
	width: 960px;
	height: 346px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

.programindicator {
	width: 960px;
	height: 24px;
	margin-top: 0px;
}

#programindicator1 {
	background-image: url(../images/programindicator-1.png);
	background-repeat: none;
}

#programindicator2 {
	background-image: url(../images/programindicator-2.png);
	background-repeat: none;
}

#programindicator3 {
	background-image: url(../images/programindicator-3.png);
	background-repeat: none;
}

#programindicator4 {
	background-image: url(../images/programindicator-4.png);
	background-repeat: none;
}

#programindicator5 {
	background-image: url(../images/programindicator-5.png);
	background-repeat: none;
}

.programdraw h2 {
    font-size: 13px;
	font-weight: bold;
	color: #999999;
	padding-top: 30px;
}

.programdraw p {
	font-size: 13px;
	color: #333333;
	line-height: 17px;
	margin-bottom: 10px;
}

#programdrawbeginners .illustration {
	width: 525px;
	height: 249px;
	margin-top: 30px;
	margin-left: 50px;
	float: right;
	background-image: url(../images/program-beginners-illustration.png);
	background-repeat: none;
}

.buttonviewprogram {
	display: block;
	width: 146px;
	height: 27px;
	margin-top: 10px;
	background-image: url(../images/button-viewprogram.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#programdrawsplits, #programdrawgoals,  #programdrawbodyareas,  #programdrawapproaches {
	display: none;
}

.programdrawthreecolumn {
	width: 313px;
	float: left;
	margin-right: 10px;
}

#programdrawlastcolumn {
	margin-right: 0px;
}

.programbutton {
	display: block;
	width: 147px;
	height: 27px;
	margin-top: 5px;
	margin-right: 5px;
	padding: 0px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	float: left;
}

#buttontwodayupper {
	background-image: url(../images/button-2day-upper.png);
}

#buttontwodaylegs {
	background-image: url(../images/button-2day-legs.png);
}

#buttonthreechest {
	background-image: url(../images/button-3day-chest.png);	
}

#buttonthreeback {
	background-image: url(../images/button-3day-back.png);
}

#buttonthreelegs {
	background-image: url(../images/button-3day-legs.png);
}

#buttonfivemon {
	background-image: url(../images/button-5day-mon.png);
}

#buttonfivetue {
	background-image: url(../images/button-5day-tue.png);
}

#buttonfivewed {
	background-image: url(../images/button-5day-wed.png);
}

#buttonfivefri {
	background-image: url(../images/button-5day-fri.png);
}

#buttonfivesat {
	background-image: url(../images/button-5day-sat.png);
}

#buttonmarathonmon {
	background-image: url(../images/button-marathon-mon.png);
}

#buttonmarathontue {
	background-image: url(../images/button-marathon-tue.png);
}

#buttonmarathonthu {
	background-image: url(../images/button-marathon-thu.png);
}

#buttonmarathonfri {
	background-image: url(../images/button-marathon-fri.png);
}

#buttonmarathonsat {
	background-image: url(../images/button-marathon-sat.png);
}

#programpanelmobileheader, .programpanelspacer {
	display: none;
}


/** SCREEENSHOTS
------------------------------*/

.screenshottabs {
	width: 408px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.screenshottabs a {
	display: block;
	float: left;
	width: 136px;
	height: 35px;
	font-size: 1000px;
	overflow: hidden;
	cursor: pointer;
}

#sixscreenshottab6 {
	background: url(../images/tab-screenshot-6-active.png) left top no-repeat;
}

#fivescreenshottab5 {
	background: url(../images/tab-screenshot-5-active.png) left top no-repeat;
}

#sixplusscreenshottab6plus {
	background: url(../images/tab-screenshot-6plus-active.png) left top no-repeat;
}

#sixplusscreenshottab6, #fivescreenshottab6 {
	background: url(../images/tab-screenshot-6-passive.png) left top no-repeat;
}

#sixscreenshottab6plus, #fivescreenshottab6plus {
	background: url(../images/tab-screenshot-6plus-passive.png) left top no-repeat;
}

#sixscreenshottab5, #sixplusscreenshottab5 {
	background: url(../images/tab-screenshot-5-passive.png) left top no-repeat;
}

#screenshotstabsixplus, #screenshotstabfive {
	display: none;
}

.screenshots {
	background-image:url(../images/bg-screen.png);
	background-position:center bottom;
	background-repeat:repeat-x;
	background-color: #ffffff;
}

.screenshots .section-inner {
	background-image:url(../images/bg-screen-shadow.png);
	background-position:center top;
	background-repeat:no-repeat;
	padding-top: 40px;
}

.screen {

	padding: 0;
	float: left;
	padding: 10px 4px;
}


.screenshots .first {
	margin-left: 3px;
}

.screenshots .first-second-row {
	margin-left: 24px;
}

.screenshots p {
	text-align:center;
	color:#aaaaaa;
	margin: 10px 0;
	font-size: 14px;
}

.screenshots a {
	width: 151px;
	height: 259px;
	display: block;
	float: left;
	margin-bottom: 10px;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
}

#screenshotstabsix .screenshots a, #screenshotstabsixplus .screenshots a {
	height: 269px;
}

.screenshots #screen-chart, #screenshotstabsix #screen-six-chart, #screenshotstabsixplus #screen-sixplus-chart {
	width: 268px;
	height: 151px;
}

#screen-home {
	background-image: url(../images/screen1-home-iphone5.png);
	background-repeat: no-repeat;
}

#screen-workout {
	background-image: url(../images/screen2-workout-iphone5.png);
	background-repeat: no-repeat;
}

#screen-supersets {
	background-image: url(../images/screen3-supersets-iphone5.png);
	background-repeat: no-repeat;
}

#screen-weightselector {
	background-image: url(../images/screen4-weightselector-iphone5.png);
	background-repeat: no-repeat;
}

#screen-exercisesearch {
	background-image: url(../images/screen5-exercise-search-iphone5.png);
	background-repeat: no-repeat;
}

#screen-exercise {
	background-image: url(../images/screen6-exercise-iphone5.png);
	background-repeat: no-repeat;
}

#screen-kettlebells {
	background-image: url(../images/bscreen1-kettlebells.png);
	background-repeat: no-repeat;
}

#screen-weightstack {
	background-image: url(../images/bscreen2-weight-stack.png);
	background-repeat: no-repeat;
}

#screen-chart {
	background-image: url(../images/bscreen3-chart.png);
	background-repeat: no-repeat;
}

#screen-exercises {
	background-image: url(../images/bscreen4-exercise-search.png);
	background-repeat: no-repeat;
}

#screen-dataexport {
	background-image: url(../images/bscreen5-program-history.png);
	background-repeat: no-repeat;
}

#screen-six-home {
	background-image: url(../images/screen1-home-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-workout {
	background-image: url(../images/screen2-workout-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-supersets {
	background-image: url(../images/screen3-supersets-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-weightselector {
	background-image: url(../images/screen4-weightselector-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-exercisesearch {
	background-image: url(../images/screen5-exercise-search-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-exercise {
	background-image: url(../images/screen6-exercise-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-kettlebells {
	background-image: url(../images/bscreen1-kettlebells-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-weightstack {
	background-image: url(../images/bscreen2-weight-stack-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-chart {
	background-image: url(../images/bscreen3-chart-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-exercises {
	background-image: url(../images/bscreen4-exercise-search-iphone6.png);
	background-repeat: no-repeat;
}

#screen-six-dataexport {
	background-image: url(../images/bscreen5-program-history-iphone6.png);
	background-repeat: no-repeat;
}

#screen-sixplus-home {
	background-image: url(../images/screen1-home-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-workout {
	background-image: url(../images/screen2-workout-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-supersets {
	background-image: url(../images/screen3-supersets-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-weightselector {
	background-image: url(../images/screen4-weightselector-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-exercisesearch {
	background-image: url(../images/screen5-exercise-search-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-exercise {
	background-image: url(../images/screen6-exercise-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-kettlebells {
	background-image: url(../images/bscreen1-kettlebells-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-weightstack {
	background-image: url(../images/bscreen2-weight-stack-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-chart {
	background-image: url(../images/bscreen3-chart-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-exercises {
	background-image: url(../images/bscreen4-exercise-search-iphone6plus.png);
	background-repeat: no-repeat;
}

#screen-sixplus-dataexport {
	background-image: url(../images/bscreen5-program-history-iphone6plus.png);
	background-repeat: no-repeat;
}



/** SUPPORT
------------------------------*/

.supportsection h3 {
	color: #6e6e6e;
	text-transform: capitalize;
	margin-top: 30px;
}

.faqpanel {
	background-image: url(../images/faqpanel-top.png);
	background-repeat:no-repeat;
	background-color: #e4e5e6;
	background-position: left top;
	width: 960px;
	margin-bottom: 20px;
}

.faqpanel .leftcolumn, .faqpanel .rightcolumn {
	padding-top: 23px;
	float: left;
	min-height: 120px;
	margin-left: 20px;
}

.faqpanel .panelbottom {
	width: 960px;
	height: 17px;
	background-image: url(../images/faqpanel-bottom.png);
	background-repeat:no-repeat;
	background-position: left top;
	clear: left;
}

.faqpanel li {
	font-size: 16px;
	margin-bottom: 10px;
	width: 445px;
}

.faqpanel a {
	display: block;
	background-image: url(../images/bullet-faq.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 45px;
	min-height: 23px;
	width: 400px;
	padding-top: 5px;
	cursor: pointer;
}

.faqpanel a:hover {
	background-image: url(../images/bullet-faq-selected.png);
}

.faqpanel li div {
	font-size: 13px;
	width: 400px;
	padding-left: 45px;
	color: #666666;
	display: none;
}

.socialpanel {
	background-image: url(../images/socialpanel-top.png);
	background-repeat:no-repeat;
	background-position: left top;
	width: 960px;
	margin-bottom: 20px;
}

.socialpanel .leftcolumn, .socialpanel .rightcolumn {
	margin-top: 23px;
	float: left;
	margin-left: 20px;
	width: 445px;
}

.socialpanel .leftcolumn {
	border-right: 1px solid #6e6e6e;
}

.socialpanel .panelbottom {
	width: 960px;
	height: 18px;
	background-image: url(../images/socialpanel-bottom.png);
	background-repeat:no-repeat;
	background-position: left top;
	clear: left;
}

.socialheader {
	color: #2045a5;
	font-size: 18px;
	height: 26px;
	width: 361px;
	padding-top: 3px;
	padding-left: 39px;
	margin-bottom: 20px;
}

#facebookheader {
	background-image: url(../images/social-icon-facebook.png);
	background-repeat:no-repeat;
	background-position: left top;
}

#twitterheader {
	background-image: url(../images/social-icon-twitter.png);
	background-repeat:no-repeat;
	background-position: left top;
}

.socialpanel p {
	font-size: 14px;
	margin-top: 15px;
}

#facebookiframe {
	border:none; 
	overflow:hidden; 
	width:425px; 
	height:290px;
}

.twocolumnsupport .leftcolumn, .twocolumnsupport .rightcolumn {
	float: left;
	width: 441px;
}

.twocolumnsupport .rightcolumn {
	margin-left: 70px;
}

.twocolumnpanel {
	background-image: url(../images/socialtwocolpanel-top.png);
	background-repeat:no-repeat;
	background-position: left top;
	background-color: #e3e4e5;
	width: 441px;
	margin-bottom: 20px;
}

.twocolumnpanel .innercontainer {
	min-height: 259px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.twocolumnpanelbottom {
	clear: left;
	width: 441px;
	height: 11px;
	background-image: url(../images/socialtwocolpanel-bottom.png);
	background-repeat:no-repeat;
	background-position: left top;
}

.graham {
	float: left;
	width: 105px;
	height: 257px;
	background-image: url(../images/graham.png);
	background-repeat: no-repeat;
	background-position: left top;
}

/** FOOTER
------------------------------*/

#footer {
	background-image:url(../images/bg-screen-shadow.png);
	background-position: top center;
	background-color: #FFF;
	background-repeat:no-repeat;
	padding-top: 20px;
}

#footer .section-innerx {
	padding: 50px 0;
}

#footer p {
	padding: 0px 0px 10px;
	font-size: 14px;
	line-height: 17px;
}

#footer img {
	padding: 0px 0px 20px;
}

.fb {
	border:none; 
	overflow:hidden; 
	width:450px; 
	height:35px;
}

.startlegals {
	margin-top: 20px;
	clear: left;
}