@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {



/** NAVIGATION
------------------------------*/


#navigation {
	background-image: url(../images/nav-bg.png);
	background-size: 2880px 85px;
}
 


.menu-item a {
	background-image:url(../images/navigation@2x.png);
	background-size: 960px 213px;
}


/** HERO
------------------------------*/


#hero {
	background-image:url(../images/bg-hero@2x.png);
	background-size: 100% 492px;
}


.bar-image {
	background-image:url(../images/bg-hero-1.6@2x.png);
	background-size: 960px 492px;
}

.watch-button a, .watch-button a:visited {
	background-image:url(../images/button-watch-01@2x.png);
	background-size: 104px 138px;
}

.buy-button a, .buy-button a:visited {
	background-image:url(../images/button-buy@2x.png);
	background-size: 119px 138px;
}


/** CHECKS ALL THE BOXES
------------------------------*/

#key-features {
	background-image:url(../images/bg-checkboxes@2x.png);
	background-size: 8px 284px;
}

.bicepscurldude {
	background-image:url(../images/bicepscurldude@2x.png);
	background-size: 96px 71px;
}

.tickbox {
	background-image: url(../images/tickbox@2x.png);
	background-size: 47px 47px;
}


/** FEATURE PANELS
------------------------------*/

.featurepanel {
	background-image: url(../images/bg-featurepanel@2x.png);
	background-size: 4px 419px;
}

.featurepanelshadow {
	background-image: url(../images/bg-featurepanelshadow@2x.png);
	background-size: 960px 419px;
}

#featuretodos {
	background-image: url(../images/featurepanel-todolist@2x.png);
	background-size: 312px 373px;
}

#featureresttimers {
	background-image: url(../images/featurepanel-resttimers@2x.png);
	background-size: 312px 373px;
}

#featurevisualweightselectors {
	background-image: url(../images/featurepanel-visualweightselectors@2x.png);
	background-size: 417px 373px;
}

#featureexercisemanual {
	background-image: url(../images/featurepanel-exercisemanual@2x.png);
	background-size: 461px 412px;
}

#featuremeasurements {
	background-image: url(../images/featurepanel-measurements@2x.png);
	background-size: 461px 412px;
}

#featurehistory {
	background-image: url(../images/featurepanel-charts@2x.png);
	background-size: 491px 314px;
}

#featureshare {
	background-image: url(../images/featurepanel-share@2x.png);
	background-size: 450px 293px;
}	

.featurepaneltext a {
	background-image: url(../images/link-arrow@2x.png);
	background-size: 9px 9px;
}


/** AT A GLANCE
------------------------------*/

#itemtodos {
	background-image:url(../images/icon-item-todos@2x.png);
	background-size: 43px 43px;
}

#itemtimers {
	background-image:url(../images/icon-item-timers@2x.png);
	background-size: 43px 43px;
}

#itemalarms {
	background-image:url(../images/icon-item-restalarm@2x.png);
	background-size: 43px 43px;
}

#itemprogress {
	background-image:url(../images/icon-item-progress@2x.png);
	background-size: 43px 43px;
}

#itemsettings {
	background-image:url(../images/icon-item-settings@2x.png);
	background-size: 43px 43px;
}

#itemcardio {
	background-image:url(../images/icon-item-cardio@2x.png);
	background-size: 43px 43px;
}

#itemthumbnails {
	background-image:url(../images/icon-item-thumbnails@2x.png);
	background-size: 43px 43px;
}

#itemsupersets {
	background-image:url(../images/icon-item-supersets@2x.png);
	background-size: 43px 43px;
}

#itemtarget {
	background-image:url(../images/icon-item-target@2x.png);
	background-size: 43px 43px;
}

#itemamend {
	background-image:url(../images/icon-item-amend@2x.png);
	background-size: 43px 43px;
}

#itempyramid {
	background-image:url(../images/icon-item-pyramid@2x.png);
	background-size: 43px 43px;
}

#itemplaylist {
	background-image:url(../images/icon-item-playlist@2x.png);
	background-size: 43px 43px;
}

#itemshare {
	background-image:url(../images/icon-item-share@2x.png);
	background-size: 43px 43px;
}

#itemshareworkout {
	background-image:url(../images/icon-item-share@2x.png);
	background-size: 43px 43px;
}

#itemsearch {
	background-image:url(../images/icon-item-search@2x.png);
	background-size: 43px 43px;
}

#itemillustration {
	background-image:url(../images/icon-item-illustration@2x.png);
	background-size: 43px 43px;
}

#itemdiagram {
	background-image:url(../images/icon-item-diagram@2x.png);
	background-size: 43px 43px;
}

#itembrowse {
	background-image:url(../images/icon-item-browse@2x.png);
	background-size: 43px 43px;
}

#itemcreate {
	background-image:url(../images/icon-item-create@2x.png);
	background-size: 43px 43px;
}

#itemchart {
	background-image:url(../images/icon-item-chart@2x.png);
	background-size: 43px 43px;
}

#itemcsv {
	background-image:url(../images/icon-item-csv@2x.png);
	background-size: 43px 43px;
}

#itemonerepmax {
	background-image:url(../images/icon-item-onerepmax@2x.png);
	background-size: 43px 43px;
}

#itemmeasurement {
	background-image:url(../images/icon-item-measurement@2x.png);
	background-size: 43px 43px;
}

#itembmi {
	background-image:url(../images/icon-item-bmi@2x.png);
	background-size: 43px 43px;
}



/** WORKOUT PROGRAMS
------------------------------*/


.programpanel {
	background-image: url(../images/bg-programpanel@2x.png);
	background-size: 182px 275px;
}

.programpanel:hover {
	background-image: url(../images/bg-programpanel-hover@2x.png);
	background-size: 182px 275px;
}

#programimagebeginners {
	background-image: url(../images/programimage-beginner@2x.png);
	background-size: 158px 99px;
}

#programimagesplits {
	background-image: url(../images/programimage-splits@2x.png);
	background-size: 158px 99px;
}

#programimagegoals {
	background-image: url(../images/programimage-goals@2x.png);
	background-size: 158px 99px;
}

#programimagebodyareas {
	background-image: url(../images/programimage-bodyareas@2x.png);
	background-size: 158px 99px;
}

#programimageapproaches {
	background-image: url(../images/programimage-approaches@2x.png);
	background-size: 158px 99px;
}

.programdraw {
	background-image: url(../images/bg-programdraw@2x.png);
	background-size: 4px 346px;
}

#programindicator1 {
	background-image: url(../images/programindicator-1@2x.png);
	background-size: 960px 24px;
}

#programindicator2 {
	background-image: url(../images/programindicator-2@2x.png);
	background-size: 960px 24px;
}

#programindicator3 {
	background-image: url(../images/programindicator-3@2x.png);
	background-size: 960px 24px;
}

#programindicator4 {
	background-image: url(../images/programindicator-4@2x.png);
	background-size: 960px 24px;
}

#programindicator5 {
	background-image: url(../images/programindicator-5@2x.png);
	background-size: 960px 24px;
}

#programdrawbeginners .illustration {
	background-image: url(../images/program-beginners-illustration@2x.png);
	background-size: 525px 249px;
}

.buttonviewprogram {
	background-image: url(../images/button-viewprogram@2x.png);
	background-size: 146px 27px;
}

#buttontwodayupper {
	background-image: url(../images/button-2day-upper@2x.png);
	background-size: 147px 27px;
}

#buttontwodaylegs {
	background-image: url(../images/button-2day-legs@2x.png);
	background-size: 147px 27px;
}

#buttonthreechest {
	background-image: url(../images/button-3day-chest@2x.png);
	background-size: 147px 27px;	
}

#buttonthreeback  {
	background-image: url(../images/button-3day-back@2x.png);
	background-size: 147px 27px;	
}

#buttonthreelegs  {
	background-image: url(../images/button-3day-legs@2x.png);
	background-size: 147px 27px;	
}

#buttonfivemon {
	background-image: url(../images/button-5day-mon@2x.png);
	background-size: 147px 27px;
}

#buttonfivetue {
	background-image: url(../images/button-5day-tue@2x.png);
	background-size: 147px 27px;
}

#buttonfivewed {
	background-image: url(../images/button-5day-wed@2x.png);
	background-size: 147px 27px;
}

#buttonfivefri {
	background-image: url(../images/button-5day-fri@2x.png);
	background-size: 147px 27px;
}

#buttonfivesat {
	background-image: url(../images/button-5day-sat@2x.png);
	background-size: 147px 27px;
}

#buttonmarathonmon {
	background-image: url(../images/button-marathon-mon@2x.png);
	background-size: 147px 27px;
}

#buttonmarathontue {
	background-image: url(../images/button-marathon-tue@2x.png);
	background-size: 147px 27px;
}

#buttonmarathonthu {
	background-image: url(../images/button-marathon-thu@2x.png);
	background-size: 147px 27px;
}

#buttonmarathonfri {
	background-image: url(../images/button-marathon-fri@2x.png);
	background-size: 147px 27px;
}

#buttonmarathonsat {
	background-image: url(../images/button-marathon-sat@2x.png);
	background-size: 147px 27px;
}

p.programpanellink {
	background-image: url(../images/link-arrow-down@2x.png);
	background-size: 9px 9px;
}


/** SCREEENSHOTS
------------------------------*/

.screenshots {
	background-image:url(../images/bg-screen@2x.png);
	background-size: 4px 629px;
}

.screenshots .section-inner {
	background-image:url(../images/bg-screen-shadow@2x.png);
	background-size: 960px 128px;
}

#screen-home {
	background-image: url(../images/screen1-home-iphone5@2x.png);
	background-size: 151px 259px;
}

#screen-workout {
	background-image: url(../images/screen2-workout-iphone5@2x.png);
	background-size: 151px 259px;
}

#screen-supersets {
	background-image: url(../images/screen3-supersets-iphone5@2x.png);
	background-size: 151px 259px;
}

#screen-weightselector {
	background-image: url(../images/screen4-weightselector-iphone5@2x.png);
	background-size: 151px 259px;
}

#screen-exercisesearch {
	background-image: url(../images/screen5-exercise-search-iphone5@2x.png);
	background-size: 151px 259px;
}

#screen-exercise {
	background-image: url(../images/screen6-exercise-iphone5@2x.png);
	background-size: 151px 259px;
}

#screen-kettlebells {
	background-image: url(../images/bscreen1-kettlebells@2x.png);
	background-size: 151px 259px;
}

#screen-weightstack {
	background-image: url(../images/bscreen2-weight-stack@2x.png);
	background-size: 151px 259px;
}

#screen-chart {
	background-image: url(../images/bscreen3-chart@2x.png);
	background-size: 268px 151px;
}

#screen-exercises {
	background-image: url(../images/bscreen4-exercise-search@2x.png);
	background-size: 151px 259px;
}

#screen-dataexport {
	background-image: url(../images/bscreen5-program-history@2x.png);
	background-size: 151px 259px;
}

/** SUPPORT
------------------------------*/

.faqpanel {
	background-image: url(../images/faqpanel-top@2x.png);
	background-size: 960px 143px;
}

.faqpanel .panelbottom {
	background-image: url(../images/faqpanel-bottom@2x.png);
	background-size: 960px 17px;
}

.faqpanel a {
	background-image: url(../images/bullet-faq@2x.png);
	background-position: left center;
	background-size: 28px 28px;
}

.faqpanel a:hover {
	background-image: url(../images/bullet-faq-selected@2x.png);
}

.socialpanel {
	background-image: url(../images/socialpanel-top@2x.png);
	background-size: 960px 600px;
}

.socialpanel .panelbottom {
	background-image: url(../images/socialpanel-bottom@2x.png);
	background-size: 960px 18px;	
}

#facebookheader {
	background-image: url(../images/social-icon-facebook@2x.png);
	background-size: 29px 29px;
}

#twitterheader {
	background-image: url(../images/social-icon-twitter@2x.png);
	background-size: 29px 29px;
}

.twocolumnpanel {
	background-image: url(../images/socialtwocolpanel-top@2x.png);
	background-size: 441px 269px;
}

.twocolumnpanelbottom {
	background-image: url(../images/socialtwocolpanel-bottom@2x.png);
	background-size: 441px 11px;
}

.graham {
	background-image: url(../images/graham@2x.png);
	background-size: 95px 256px;
}

/** FOOTER
------------------------------*/


#footer .section-inner {
	background-image: url(../images/bicepscurl2@2x.png);
	background-size: 236px 377px;
}

}