/** YUI RESET
------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6,h7 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

a {
	text-decoration: none;
	color: #7d7d7d;
	font-family: helvetica;
	font-size: 12px;
}

.clear-fix {
	clear: both;
}

/** NAV BAR
------------------------------*/

#navbar {
	width: 100%;
	height: 45px;
	position: fixed;
	top:0;
	left:0;
	z-index:8000;
	background-image: url(../images/navbar-background.png);
	border-bottom: 1px solid #b2b2b2;
}

#repsicon {
	width: 45px;
	height: 45px;
	background-image: url(../images/repsicon@2x.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 45px 45px;
	float: left;
	margin-left: 12px;
}

#navbar h1 {
	text-align: center;
	font-size: 17px;
	font-family: Helvetica;
	height: 33px;
	vertical-align: center;
	padding-top: 12px;
}

#navbarspace {
	height: 45px;
}

/** MENU
------------------------------*/

h2 {
	background-color: #e5e5e5;
	height: 23px;
	font-size: 14px;
	color: #4d4d4d;
	font-family: Helvetica;
	font-weight: lighter;
	padding-top: 22px;
	padding-left: 15px;
	text-transform: uppercase;
}

li {
	height: 72px;
}

li span {
	display: block;
	font-size: 17px;
	color: black;
	font-weight: lighter;
	margin-bottom: 3px;
}

.thumbnail {
	width: 56px;
	height: 56px;
	background-color: red;
	float: left;
	margin-left: 15px;
	margin-top: 8px;
	margin-right: 15px;
	
}

.listtext {
	padding-top: 12px;
	padding-right: 22px;
	height: 59px;
	border-bottom: 1px solid #c8c8c8;
	margin-left: 86px;
	background-image: url(../images/arrow.png);
	background-size: 13px 13px;
	background-repeat: none;
	background-position: right center;
	background-repeat: no-repeat;
}

.lastlisttext {
	border: none;
}